<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Main</title>

</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<div>
    Main page
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <h4><a href="/user">User</a></h4>
    <h4><a href="/admin">Admin menu</a></h4>
</div>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>

<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin">Admin</a>
    </button>
    <button type="button" class="list-group-item list-group-item-action" sec:authorize="hasRole('ROLE_USER')">User</button>
</div>

<div >
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    </form>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.firstName}">id</td>
            <td th:text="${user.lastName}">id</td>
            <td th:text="${user.age}">id</td>
            <td th:text="${user.username}">username</td>
            <td>
                <a th:href="@{/admin/{id}/edit(id=${user.id})}">Update</a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/new}">Create user</a>
    <br>
    <a href="/main">Main page</a>

</div>
</body>
</html>