<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<!--Navigation-->
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: rgb(37,33,33);">
    <div class="container"><a class="navbar-brand" href="#" style="color: #e1dcdc;"> with roles: </a>
        <a class="login" href="#" style="color: #ecf7f7;" th:action="@{/logout}" method="post">Logout</a>
        <button class="navbar-toggler" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<!--Body-->
<div class="row">
    <!--2/12-->
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Admin</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">User</a>
        </div>
    </div>
    <!--10/12-->
    <div class="col-10">
        <div class="tab-content" id="nav-tabContent">
            <!--Admin panel-->
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <!--start-->
                <div class="col" style="padding: 0px;">
                    <h1 style="margin-left: 5px;">Admin panel</h1>
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Users table</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">New user</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <p class="text-left" style="font-size: 25px;margin-left: 5px;">All user</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="text-left">ID</th>
                                            <th class="text-center">First Name</th>
                                            <th class="text-center">Last Name</th>
                                            <th class="text-center">Age</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Role</th>
                                            <th class="text-center">Edit</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td class="text-center">First</td>
                                            <td class="text-center">Name</td>
                                            <td class="text-center">15</td>
                                            <td class="text-center">First@ame.ru</td>
                                            <td class="text-center">ADMIN</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Edit</button>
                                                <!--BE-->
                                                <div class="modal fade" id="modal" tabindex="-1">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit user</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-center"><strong>ID</strong></p><input class="border rounded" type="text" readonly="" disabled="">
                                                                <p class="text-center"><strong>First name</strong></p><input class="border rounded" type="text" minlength="2" maxlength="70" required="">
                                                                <p class="text-center"><strong>Last name</strong></p><input class="border rounded" type="text" minlength="2" maxlength="70" required="">
                                                                <p class="text-center"><strong>Age</strong></p><input class="border rounded" type="text" required="" maxlength="3">
                                                                <p class="text-center"><strong>Email</strong></p><input class="border rounded" type="text" required="">
                                                                <p class="text-center"><strong>Password</strong></p><input class="border rounded" type="password">
                                                                <p class="text-center"><strong>Role</strong></p>
                                                                <select class="border rounded" style="width:176px;height:28px;"><option value="12" selected="">USER</option><option value="13">ADMIN</option></select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--BE-->
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modal1">Delete</button>
                                                <!--BD-->
                                                <div class="modal fade" id="modal1" tabindex="-1">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Delete user</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-center"><strong>ID</strong></p><input class="border rounded" type="text" readonly="" disabled="">
                                                                <p class="text-center"><strong>First name</strong></p><input class="border rounded" type="text" type="text" readonly="" disabled="">
                                                                <p class="text-center"><strong>Last name</strong></p><input class="border rounded" type="text" readonly="" disabled="">
                                                                <p class="text-center"><strong>Age</strong></p><input class="border rounded" type="text" readonly="" disabled="">
                                                                <p class="text-center"><strong>Email</strong></p><input class="border rounded" type="text" readonly="" disabled="">
                                                                <p class="text-center"><strong>Password</strong></p><input class="border rounded" type="text" readonly="" disabled="">
                                                                <p class="text-center"><strong>Role</strong></p><input class="border rounded" type="text" readonly="" disabled="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--BD-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <!--<p>Content for tab 2.</p><input type="text" name="First name">-->
                                <div class="row text-center">
                                    <div class="col">
                                        <p class="text-left" style="font-size: 25px;margin-left: 5px;">Add new user</p>
                                        <p class="text-center"><strong>First name</strong></p><input class="border rounded" type="text" minlength="2" maxlength="70" required="">
                                        <p class="text-center"><strong>Last name</strong></p><input class="border rounded" type="text" name="First name" minlength="2" maxlength="70" required="">
                                        <p class="text-center"><strong>Age</strong></p><input class="border rounded" type="text" name="First name" maxlength="3" inputmode="numeric" required="">
                                        <p class="text-center"><strong>Email</strong></p><input class="border rounded" type="text" name="First name" inputmode="email" required="">
                                        <p class="text-center"><strong>Password</strong></p><input class="border rounded" type="password" name="First name" minlength="2" maxlength="70" required="">
                                        <p class="text-center"><strong>Role</strong></p>
                                        <select class="border rounded" style="width:176px;height:28px;"><option value="12" selected="">USER</option><option value="13">ADMIN</option></select>
                                        <div>
                                            <button class="btn btn-success text-center"style="margin-top: 5px; height: 36px" type="submit">Add new user</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end-->
            </div>
            <!--User panel-->
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <!--start-->
                <div class="col" style="padding: 0px;">
                    <h1 style="margin-left: 5px;">User information-page</h1>
                    <p style="font-size: 25px;margin-left: 5px;">About user</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th class="text-center">First name</th>
                                <th class="text-center">Last name</th>
                                <th class="text-center">Age</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td class="text-center">First</td>
                                <td class="text-center">Name</td>
                                <td class="text-center">12</td>
                                <td class="text-center">Cell@mail.ru</td>
                                <td class="text-center">User</td>
                            </tr>
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end-->
            </div>
        </div>
    </div>
</div>
</body>
</html>